<div class="controls">
  {{locale-combo-box
    valueProperty="value"
    langProperty="value"
    class="header-locale-selector"
    content=availableLocales
    value=currentUser.locale
    onChange=onChangeLocale
    defaultItem=defaultItem
    options=(hash filterable=true none="user.locale.default")
  }}
</div>