.header-locale-selector .select-kit-header {
  .selected-name .name {
    display: none;
  }

  .selected-locale-flag {
    margin-inline-end: 0 !important;
  }
}

.d-header .title .header-title .header-site-title {
  display: none;
}
